{%  extends ":Registration:registration.html.twig" %}

{% block right_box %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Resumen Facturación</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
            <p>Entidad: {{ entity_bank }}</p>
            <p>IBAN: {{ iban }}</p>
            <p>Beneficiario: {{ organization }}</p>
            <p>Concepto: Ref #{{ registration.id }} inscripción {{ registration.convention.name }}</p>
            <p>Importe: {{ amount }} €</p>
                <a class="btn btn-primary btn-sm" href="{{ path('invoice_download', {'registration': registration.id})}}" ><i class="glyphicon glyphicon-download"></i> Descargar factura</a>
            </div>
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->
    {% endblock %}
{% block column_action %}
        <td><a href="{{ path('acreditation_download', {'participant': inscription.id})}}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Descargar Acreditación</button></td>
{% endblock %}
{% block footer_box %}
<div class="row">
    <div class="col-md-6" align="left">
        <a href="{{ url('registration_open') }}" class="btn btn-warning">Abrir Registro</a>
    </div><!-- /.col -->
    <div class="col-md-6" align="right">
        <a class="btn btn-primary" href="{{ path('travel_information') }}" ><i class="glyphicon glyphicon-road"></i> Información del viaje</a>
    </div><!-- /.col -->
</div>
{% endblock %}

