{%  extends ":Registration:registration.html.twig" %}

{% block right_box %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Resumen Facturación</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
            <p>Entidad: {{ entity_bank }}</p>
            <p>IBAN: {{ iban }}</p>
            <p>Beneficiario: {{ organization }}</p>
            <p>Concepto: Ref #{{ registration.id }} inscripción {{ registration.convention.name }}</p>
            <p>Importe: {{ amount }} €</p>
                <button class="btn btn-primary pull-right" ><i class="fa fa-download"></i> Descargar factura</button>
            </div>
        </div><!-- /.row -->
    </div><!-- ./box-body -->
</div><!-- /.box -->
    {% endblock %}
{% block column_action %}
        <td><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Descargar Acreditación</button></td>
{% endblock %}
{% block footer_box %}
<div class="row">
    <div class="col-md-12" align="left">
        <a href="{{ url('registration_open') }}" class="btn btn-warning">Abrir Registro</a>
    </div><!-- /.col -->
</div>
{% endblock %}

