<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 2</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/pdf.css', absolute=true) }}" media="all" />
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="{{ asset('bundles/app/img/logo_ritsi.png', absolute=true) }}">
    </div>
    <div id="company">
        <h2 class="name">Asociación RITSI</h2>
        <div>CIF: G83299487</div>
        <div>Área de Tesorería</div>
        <div><a href="mailto:tesorero@ritsi.org">tesorero@ritsi.org</a></div>
    </div>
    </div>
</header>
<main>
    <div id="details" class="clearfix">
        <div id="client">
            <div class="to">Datos del socio:</div>
            <h2 class="name">{{ registration.user.university }}</h2>
            <div class="address">{{ registration.user.studentDelegation }}</div>
            <div class="cif">{{ registration.user.university.cif }}</div>
        </div>
        <div id="invoice">
            <h1>Factura Proforma</h1>
            <div class="date">Fecha: {{ "now"|date("d/m/Y")  }}</div>
        </div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th class="no">#</th>
            <th class="desc">DESCRIPCIÓN</th>
            <th class="unit">PRECIO</th>
            <th class="total">TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in registration.participants %}
        <tr>
            <td class="no">{{ loop.index }}</td>
            <td class="desc">
                <h3>{{ participant.participantType }}</h3>
                A la {{ registration.convention }}, a favor de:<br/> {{ participant }}
            </td>
            <td class="unit">{{ participant.participantType.price|number_format(2, ',') }}€</td>
            <td class="total">{{ participant.participantType.price|number_format(2, ',') }}€</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">SUBTOTAL</td>
            <td>{{ amount|number_format(2, ',') }}€</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">IVA 0%</td>
            <td>--</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">TOTAL</td>
            <td>{{ amount|number_format(2, ',') }}€</td>
        </tr>
        </tfoot>
    </table>
    <div id="notices">
        <div>FORMA DE PAGO: TRANSFERENCIA</div>
        <dl class="notice">
            <dt>Entidad bancaria</dt><dd>BANCO SANTANDER, S.A.</dd>
            <dt>IBAN</dt><dd>ES10 0049 6560 3226 1603 9311</dd>
            <dt>Beneficiario</dt><dd>Asociación RITSI</dd>
            <dt>Concepto</dt><dd>Referencia #{{ registration.id }} {{ registration.convention.domain | upper }}</dd>
            <dt>Importe</dt><dd>{{ amount|number_format(2, ',') }}€</dd>
        </dl>
    </div>
</main>
<footer>
    Asociación registrada en el Ministerio del Interior el 18 de Septiembre de 2002.
    Número Nacional 169687 de la Sección 1.
</footer>
</body>
</html>
