<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 2</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/pdf.css', absolute=true) }}" media="all" />
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="{{ asset('bundles/app/img/logo_ritsi.png', absolute=true) }}">
    </div>
    <div id="company">
        <h2 class="name">Asociación RITSI</h2>
        <div>CIF: G83299487</div>
        <div>Área de Secretaría</div>
        <div><a href="mailto:secretario@ritsi.org">secretario@ritsi.org</a></div>
    </div>
    </div>
</header>
<main>
    <div id="details" class="clearfix">
        <div id="client">
            <div class="to">Datos del socio:</div>
            <h2 class="name">{{ registration.user.university }}</h2>
            <div class="address">{{ registration.user.studentDelegation }}</div>
            <div class="cif">{{ registration.user.university.cif }}</div>
        </div>
        <div id="invoice">
            <h1>Acreditación</h1>
            <div class="date">Fecha: {{ "now"|date("d/m/Y")  }}</div>
        </div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th class="no" colspan="2">{{ registration.convention }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="desc notice" colspan="2">
                <dl>
                    <dt>Don/Doña</dt><dd>{{ registration.name }}</dd>
                    <dt>en calidad de</dt><dd>{{ registration.position }}</dd>
                    <dt>Universidad</dt><dd>{{ registration.user.university }}</dd>
                    <dt>Centro</dt><dd>{{ registration.user.college }}</dd>
                    <dt>Delegación</dt><dd>{{ registration.user.studentDelegation }}</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th class="no" colspan="2">Acredita que</th>
        </tr>
        <tr>
            <td class="desc notice" colspan="2">
                <dl>
                    <dt>Don/Doña</dt><dd>{{ participant }}</dd>
                    <dt>DNI</dt><dd>{{ participant.dni }}</dd>
                </dl>
                representa oficialmente a las siguientes titulaciones que se imparten en nuestra universidad:
            </td>
        </tr>
        <tr>
            <th class="no" colspan="2">Titulaciones</th>
        </tr>
        {% for degree in registration.user.college.academicdegrees %}
        <tr>
            <td class="grade" colspan="2">
                {{ degree }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                Y para que así conste firmo y sello el presente documento:
            </td>
        </tr>
        <tr>
            <td>
                Firma y nombre
            </td>
            <td>
                Sello del Consejo/Delegación
            </td>
        </tr>

        </tfoot>
    </table>


</main>
<footer>
    Asociación registrada en el Ministerio del Interior el 18 de Septiembre de 2002.
    Número Nacional 169687 de la Sección 1.
</footer>
</body>
</html>
