{%  extends ":frontend/registration:registration.html.twig" %}

{% block right_box %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Añadir Inscripciones</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th><h5>Tipo de Entrada</h5></th>
                            <th><h5>Fin de la Venta</h5></th>
                            <th><h5>Precio</h5></th>
                            <th><h5>Acción</h5></th>
                        </tr>
                {% for type in types %}
                    <tr>
                        <td><h6>{{ type.name }}</h6></td>
                        <td><h6>{{ type.endDate|date('d-m-Y') }}</h6></td>
                        <td><h6>{{ type.price }} €</h6></td>
                        <td><a href="{{ path('participant_new', {'participanttype': type.id}) }}" class="btn btn-warning add_inscription btn-xs" style="margin-bottom: 10px;">Añadir</a>
                        </td>
                    </tr>

                {% endfor %}
                    </table>
                </div>
            </div><!-- /.row -->
        </div><!-- ./box-body -->
    </div><!-- /.box -->
{%  endblock %}
{% block column_action %}
                <td><a href="{{ path('participant_edit', {'id':inscription.id }) }}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a>
                    <a href="{{ path('participant_delete', {'id':inscription.id }) }}" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Borrar</a></td>
{% endblock %}

{% block footer_box %}
    <div class="row">
        <div class="col-md-12" align="right">
            <a href="{{ url('registration_confirmed') }}" class="btn btn-warning">Confirmar inscripciones</a>
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}
