{%  extends "base.html.twig" %}
{% block title_page %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
    {% if is_granted("ROLE_USER") %}
        <div class="username"  id="username"  name="username">
            </div>
            {% endif %}
            <div class="box-header">
                <h3 class="box-title">{{ convention.name }}</h3>
            </div>
            <div class="box-body pad table-responsive">
                <img src="{{ asset('/images/' ~ convention.image) }}"><br>
                Del  {{ convention.startsAt|date('d-m-Y') }} al  {{ convention.endsAt|date('d-m-Y') }}
            </div><!-- /.box -->
        </div>
    </div><!-- /.col -->
</div>
    <div class="row">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                </div><!-- /.box-header -->
                <div class="box-body">
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                   Información
                </div><!-- /.box-header -->
                <div class="box-body">
                    <p><i class="fa fa-desktop"></i> <a href="{{ convention.web }}" target="_blank">{{ convention.web }}</a></p>
                    <p><i class="fa fa-envelope-o"></i>  {{ convention.email }}</p>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    En las redes
                </div><!-- /.box-header -->
                <div class="box-body">
                    <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                    <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    {% if is_granted("ROLE_USER") %}
                        <a href="{{ url('sylius_flow_start', {'scenarioAlias': 'asamblea'}) }}" class="btn btn-block btn-warning">Inscribirse</a></center>
                        {% else %}
                        Debe de estar logueado para inscribirse
                    {% endif %}

                </div>
            </div>
        </div>


    </div><!-- /.row -->
{% endblock %}