{%  extends ":frontend:base.html.twig" %}
{% block title_page %}
    <div class="row">
    <img class="cabecera" src="{{ asset('/images/' ~ convention.image) }}">
        <div class="title-convention">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" align="center">
                <h1>{{ convention.name }}</h1>
                    {% if is_granted('ORGANIZE', convention) %}
                    <a href="{{ url('sonata_admin_dashboard') }}" class="btn btn-warning"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Administrar</a></center>
                    {% endif %}
            {% if is_granted("ROLE_USER") %}
                        <a href="{{ url('sylius_flow_start', {'scenarioAlias': 'asamblea'}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Inscribirse</a></center>
                        {% else %}
               <a href="{{ url('fos_user_security_login') }}" class="btn btn-warning"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar Sesión</a></center>
            {% endif %}

            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
        {% endblock %}
{% block content %}
<div class="row">
    <div  class="col-md-6">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Descripción</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
           {{ convention.description }}
        </div><!-- /.box-body -->
    </div>
    </div>

    <div  class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                Información
            </div><!-- /.box-header -->
            <div class="box-body">
                <p><i class="fa fa-desktop"></i> <a href="{{ convention.web }}" target="_blank">{{ convention.web }}</a></p>
                <p><i class="fa fa-envelope-o"></i>  {{ convention.email }}</p>
                <p><i class="fa fa-calendar"></i>  Del {{ convention.startsAt|date('d-m-Y') }} al {{ convention.endsAt|date('d-m-Y') }} </p>
            </div>
        </div>
        <div class="box box-danger">
            <div class="box-header with-border">
                En las redes
            </div><!-- /.box-header -->
            <div class="box-body">
                {% if convention.facebook %}
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/{{ convention.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if convention.instagram %}
                <a class="btn btn-social-icon btn-instagram" href="http://www.instagram.com/{{ convention.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
                {% endif %}
                {% if convention.twitter %}
                <a class="btn btn-social-icon btn-twitter" href="http://www.twitter.com/{{ convention.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
