{%  extends ":frontend:base.html.twig" %}

{% block content %}

        <div class="row">
            {% for convention in conventions %}
            <div class="col-md-4">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <div class="row">
                        <div class="col-md-1"><i class="fa fa-bullhorn"></i></div>
                        <div class="col-md-10"><h3 class="box-title">{{ convention.name }}</h3></div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <img class="col-md-12" src="{{ asset('/images/' ~ convention.image) }}">
                        </div>
                        <div class="callout">
                            <h5><i class="fa fa-calendar"></i> Del {{ convention.startsAt|date('d-m-Y') }} al {{ convention.endsAt|date('d-m-Y') }} </h5>
                            <p>{{ convention.description | truncate(90, true) }}</p>
                        </div>
                        <a href="{{ path('convention', {'code': convention.domain}) }}" class="btn btn-warning btn-block btn-flat">Inscribirse</a>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            {% else %}
        <div class="col-md-3">
        </div>
            <div class="center-block col-md-6">
                <div class="box box-danger">
                    <div class="box-body" align="center">
                    <span class="fa fa-frown-o fa-5x" aria-hidden="true"></span>
                    <h3>No hay asambleas</h3>
                        Lo sentimos, en este momento no hay ninguna asamblea disponible para inscribirse. ¡Vuelve pronto!
                    </div>
                </div>
            </div>
                <div class="col-md-3">
                </div>
            {% endfor %}
        </div>



{% endblock %}