{% extends "::base.html.twig"  %}
{% block content %}
{% block sonata_profile_content %}
    <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                General
                            </h4>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th class="col-md-2">Nombre de usuario</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th>Correo electrónico</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                Datos Universitarios
                            </h4>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table">
                                <tbody>
                                <tr>

                                    <th class="col-md-2">Universidad</th>
                                    <td>
                                        {{ user.university }}
                                    </td>
                                </tr>
                                <tr>

                                    <th>Facultad</th>
                                    <td>
                                        {{ user.college }}
                                    </td>
                                </tr>
                                <tr>

                                    <th>Delegación de Estudios</th>
                                    <td>
                                        {{ user.studentdelegation }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                Profile
                            </h4>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th class="col-md-2">Fecha de nacimiento</th>
                                    <td>{{ user.dateOfBirth }}</td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ user.firstname }}</td>
                                </tr>
                                <tr>
                                    <th>Apellido</th>
                                    <td>{{ user.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Sitio web</th>
                                    <td>{{ user.website }}</td>
                                </tr>
                                <tr>
                                    <th>Sexo</th>
                                    <td>{{ user.gender }}</td>
                                </tr>
                                <tr>
                                    <th>Teléfono</th>
                                    <td>{{ user.phone }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}
{% endblock %}