{%  extends "::step.html.twig" %}

{% block titlestep %}
<h3 class="box-title"> Participantes</h3>
{% endblock %}
{% block formstep %}
    {{ form_start(form) }}
    {% for type in tipos %}
        <p>{{ type.name|title }}: Quedan X plazas. Precio {{ type.price }}e</p>
    {% endfor %}
    {{ form_row(form.participants) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="btn btn-warning add_tag_link">Añadir participante</a>');
        var $newLinkLi = $('#registration_participants').append($addTagLink);

        console.log("OK");

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('#registration_participants');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $newLinkLi);
            });


        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-tag">x</a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-tag').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }
    </script>
{% endblock %}